
body {
  font-family: Georgia, 'Times New Roman', Times, serif
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  color: #333;

  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #dd02c3;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}


main {
  flex: 1;
  padding: 2rem;
}

.project {
  background: white;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  color: #333;
}

/* Футер прижат к низу */
footer {
  background: #651a7a;
  color: white;
  text-align: center;
  padding: 1rem;
}
.about {
  display: flex;
  align-items: flex-start; /* картинка сверху */
  gap: 20px; /* расстояние между картинкой и текстом */
  margin-top: 2rem;
}

.about img {
  max-width: 200px; /* размер фото */
  border-radius: 8px;
}

.about-text {
  flex: 1; 
  text-align: justify; 
}

.gallery {
  display: flex;         
  gap: 10px;             
  justify-content: center;
}

.gallery img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border: 2px solid #ccc;
  border-radius: 6px;
}


.button-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 30px 0;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #7bade6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.5s;
}

.btn:hover {
  background-color: #72148c;
}